h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    text-transform: capitalize;
    color: #2d3338;
    text-shadow: 0 0 10px #fff6;
}

body {
    position: relative;
    font-size: 18px;
    font-family: math, monospace;
    background: #ffe3c4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.books, .students, .authors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffe3c4;
    padding: .1em 2em;
    background: #5a2909;
    border: 1px solid #fff1;
    border-radius: 10px;
    margin: 1rem;
}

a {
    color: #fdce99;
    padding: .5em 1em;
    text-decoration: none;
    background-image: linear-gradient(0deg, #ffe3c4, #ffe3c4);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 60% .1rem;
    border-radius: 10px;
    margin: 0 .4em;
    transition: .4s;
}


a:hover {background-size: 10em 3em;color: #303030;}

.loginUI {
    background: #202020;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffffda;
    letter-spacing: .1em;
    width: 90vw;
    border-radius: 10px;
}

.loginUI h2 {margin: 0;}


.error {
    width: 80%;
    text-align: center;
    color: #fff;
    background: #cb0000;
    padding: 1em;
    border-radius: 10px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: .07em;
    bottom: 1em;
    position: absolute;
}