<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/add.css">
</head>
<body>
    {% if error %}
        <div class="error">
            <div class="errorMsg">{{ error }}</div>
        </div>
    {% endif %}
    <form method="POST">
        <input required placeholder="title" type="text" name="title"/>
        <input required placeholder="authorId" type="text" name="authorId"/>
        <input required placeholder="date" type="date" name="date"/>
        <input required placeholder="edition" type="number" name="edition"/>
        <input required placeholder="totalBooks" type="number" name="totalBooks"/>
        <input required placeholder="inStock" type="number" name="inStock"/>
        <input required placeholder="minStock" type="number" name="minStock"/>
        <input type="submit" value="Add Book">
    </form>
</body>
</html>