<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/delete.css">

</head>
<body>
    {% if error %}
        <div class="error">
            <div class="errorMsg">{{ error }}</div>
        </div>
    {% endif %}
    <div class="title">
        <h1>Delete An Existing Book</h1>
    </div>
    <form method="POST">
        <input type="number" name="id" required />
        <input type="submit" value="Delete Book" />
    </form>
</body>
</html>