<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="title">
        <h1>Get Book From Student</h1>
    </div>
    <form method="post">
        <input type="number" name="bookId" id="bookId" placeholder="Book Id" required />
        <input type="number" name="studentId" id="studentId" placeholder="Student Id" required />
        <input type="submit" value="Get Book">
    </form>
</body>
</html>