<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <link rel="stylesheet" href="/static/index.css">

</head>
<body>
    {% if error %}
        <div class="error">
            <div class="errorMsg">{{ error }}</div>
        </div>
    {% endif %}
    <div>
        <h1>Library Management System</h1>
        <div>
            {% if sid %}
                <a href="/books/add">New Book</a>
                <a href="/books/delete">Remove Book</a>
                <a href="/books/give">Give Book</a>
                <a href="/books/get">Get Book</a>
                <a href="/books/view">View Books</a>
                <a href="/students">View Students</a>

                <a href="/authors/view">View All Authors</a>
                <a href="/authors/add">New Author</a>
                <a href="/authors/delete">Delete Author</a>
            {% else %}
                <a href="/login">Login</a>
            {% endif %}
        </div>
    </div>
</body>
</html>